<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Блог</title>
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="stylesheet" href="css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="css/slick.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-grid.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
	<div class="wrapper">
	    <header class="header">
	        <div class="container">
	        	<div class="row clearfix">
	        		<div class="col-md-3 col-sm-6 col-xs-6 make-xs-6">
	        			<div class="header_left">
				            <a href="/" title="" class="header_logo">
				                <img src="img/logo.png" alt="">
				            </a>
			            	<div class="logo_info">Блог о BTL</div>
		            	</div>
		            </div>
					<div class="top_menu col-md-6">
						<ul class="menu">
				            <li class="first"><a href="#">Библиотека</a></li>
				            <li><a href="#">BTL</a></li>
				            <li><a href="#">Промо персонал</a></li>
				            <li class="last"><a href="#">Делимся опытом</a></li>
				        </ul>
				    </div>
			        <div class="col-md-3 col-sm-6 col-xs-6 make-xs-6">
			        	<div class="header_right">
				        	<div class="search"><input type="search" name="q" placeholder="Поиск"><input type="submit" value="Найти"></div>
			            	<a href="#" class="btn btn_top"><span>Подписаться</span></a>
			            	<input type="checkbox" id="btn_open" class="menu_ticker">
			                <label class="btn_menu" for="btn_open">
			                    <span class="first"></span>
			                    <span class="second"></span>
			                    <span class="third"></span>
			                </label>
		            	</div>
		            </div>
	            </div>
	        </div>
	    </header>
	    <section class="posts_wrap">
	        <div class="container">
				<div class="row clearfix">
	        		<div class="col-md-6 col-sm-12">
						<div class="post big_post" style="background-image: url(img/image.png);">
							<div class="post_info">
								<div class="post_title">5 правил успешного запуска акции</div>
								<div class="post_category">Экономия времени и сил</div>
								<div class="post_desc">Кто работает весь день, тому, по меткому замечанию Джона Рокфеллера, некогда зарабатывать деньги. То же и с успехом: ночуя в офисе, можно стать… обычным трудоголиком. Но ведь чтобы добиться успеха, надо многим пожертвовать. Или не надо?</div>
								<a href="#" class="post_more">Читать далее</a>
							</div>
						</div>
	        		</div>
	        		<div class="col-md-3 col-sm-6 make-xs-12">
						<div class="post" style="background-image: url(img/image-small.png);">
							<div class="post_info">
								<div class="post_title">Секреты эффективной работы</div>
								<div class="post_category">Делегирование невероятно сложныи задач</div>
								<div class="post_desc">Кто работает весь день, тому, по меткому замечанию Джона Рокфеллера, некогда зарабатывать деньги. То же и с успехом: ночуя в офисе, можно стать… обычным трудоголиком. Но ведь чтобы добиться успеха, надо многим пожертвовать. Или не надо?</div>
								<a href="#" class="post_more">Читать далее</a>
							</div>
						</div>
	        		</div>
	        		<div class="col-md-3 col-sm-6 make-xs-12">
						<div class="post" style="background-image: url(img/image-small.png);">
							<div class="post_info">
								<div class="post_title">Секреты эффективной работы</div>
								<div class="post_category">Делегирование задач</div>
								<div class="post_desc">Кто работает весь день, тому, по меткому замечанию Джона Рокфеллера, некогда зарабатывать деньги. То же и с успехом: ночуя в офисе, можно стать… обычным трудоголиком. Но ведь чтобы добиться успеха, надо многим пожертвовать. Или не надо?</div>
								<a href="#" class="post_more">Читать далее</a>
							</div>
						</div>
	        		</div>
	        		<div class="col-md-3 col-sm-6 make-xs-12">
						<div class="post" style="background-image: url(img/image-small.png);">
							<div class="post_info">
								<div class="post_title">Секреты эффективной работы</div>
								<div class="post_category">Делегирование задач</div>
								<div class="post_desc">Кто работает весь день, тому, по меткому замечанию Джона Рокфеллера, некогда зарабатывать деньги. То же и с успехом: ночуя в офисе, можно стать… обычным трудоголиком. Но ведь чтобы добиться успеха, надо многим пожертвовать. Или не надо?</div>
								<a href="#" class="post_more">Читать далее</a>
							</div>
						</div>
	        		</div>
	        		<div class="col-md-3 col-sm-6 make-xs-12">
						<div class="post" style="background-image: url(img/image-small.png);">
							<div class="post_info">
								<div class="post_title">Секреты эффективной работы</div>
								<div class="post_category">Делегирование задач</div>
								<div class="post_desc">Кто работает весь день, тому, по меткому замечанию Джона Рокфеллера, некогда зарабатывать деньги. То же и с успехом: ночуя в офисе, можно стать… обычным трудоголиком. Но ведь чтобы добиться успеха, надо многим пожертвовать. Или не надо?</div>
								<a href="#" class="post_more">Читать далее</a>
							</div>
						</div>
	        		</div>
	        		<div class="col-md-6 col-sm-12 col-xs-12 make-xs-12">
						<div class="post big_post" style="background-image: url(img/image.png);">
							<div class="post_info">
								<div class="post_title">5 правил успешного запуска акции</div>
								<div class="post_category">Экономия времени и сил</div>
								<div class="post_desc">Кто работает весь день, тому, по меткому замечанию Джона Рокфеллера, некогда зарабатывать деньги. То же и с успехом: ночуя в офисе, можно стать… обычным трудоголиком. Но ведь чтобы добиться успеха, надо многим пожертвовать. Или не надо?</div>
								<a href="#" class="post_more">Читать далее</a>
							</div>
						</div>
	        		</div>
	        	</div>
	        </div> 
	    </section>
		<section class="popular_wrap">
	        <div class="container">
	        	<div class="title">Популярные статьи</div>
				<div class="row clearfix">
	        		<div class="col-md-3 col-xs-6 make-xs-12">
						<div class="post" style="background-image: url(img/image-small.png);">
							<div class="post_info">
								<div class="post_title">Секреты эффективной работы</div>
								<div class="post_category">Делегирование задач</div>
								<div class="post_desc">Кто работает весь день, тому, по меткому замечанию Джона Рокфеллера, некогда зарабатывать деньги. То же и с успехом: ночуя в офисе, можно стать… обычным трудоголиком. Но ведь чтобы добиться успеха, надо многим пожертвовать. Или не надо?</div>
								<a href="#" class="post_more">Читать далее</a>
							</div>
						</div>
	        		</div>
	        		<div class="col-md-3 col-xs-6 make-xs-12">
						<div class="post" style="background-image: url(img/image-small.png);">
							<div class="post_info">
								<div class="post_title">Секреты эффективной работы</div>
								<div class="post_category">Делегирование задач</div>
								<div class="post_desc">Кто работает весь день, тому, по меткому замечанию Джона Рокфеллера, некогда зарабатывать деньги. То же и с успехом: ночуя в офисе, можно стать… обычным трудоголиком. Но ведь чтобы добиться успеха, надо многим пожертвовать. Или не надо?</div>
								<a href="#" class="post_more">Читать далее</a>
							</div>
						</div>
	        		</div>
	        		<div class="col-md-3 col-xs-6 make-xs-12">
						<div class="post" style="background-image: url(img/image-small.png);">
							<div class="post_info">
								<div class="post_title">Секреты эффективной работы</div>
								<div class="post_category">Делегирование задач</div>
								<div class="post_desc">Кто работает весь день, тому, по меткому замечанию Джона Рокфеллера, некогда зарабатывать деньги. То же и с успехом: ночуя в офисе, можно стать… обычным трудоголиком. Но ведь чтобы добиться успеха, надо многим пожертвовать. Или не надо?</div>
								<a href="#" class="post_more">Читать далее</a>
							</div>
						</div>
	        		</div>
	        		<div class="col-md-3 col-xs-6 make-xs-12">
						<div class="post" style="background-image: url(img/image-small.png);">
							<div class="post_info">
								<div class="post_title">Секреты эффективной работы</div>
								<div class="post_category">Делегирование задач</div>
								<div class="post_desc">Кто работает весь день, тому, по меткому замечанию Джона Рокфеллера, некогда зарабатывать деньги. То же и с успехом: ночуя в офисе, можно стать… обычным трудоголиком. Но ведь чтобы добиться успеха, надо многим пожертвовать. Или не надо?</div>
								<a href="#" class="post_more">Читать далее</a>
							</div>
						</div>
	        		</div>
				</div>
	        </div> 
	    </section>
		<section class="posts_wrap">
	        <div class="container">
				<div class="row clearfix">
					<div class="col-md-6 col-sm-12 col-xs-12 make-xs-12">
						<div class="post big_post" style="background-image: url(img/image.png);">
							<div class="post_info">
								<div class="post_title">5 правил успешного запуска акции</div>
								<div class="post_category">Экономия времени и сил</div>
								<div class="post_desc">Кто работает весь день, тому, по меткому замечанию Джона Рокфеллера, некогда зарабатывать деньги. То же и с успехом: ночуя в офисе, можно стать… обычным трудоголиком. Но ведь чтобы добиться успеха, надо многим пожертвовать. Или не надо?</div>
								<a href="#" class="post_more">Читать далее</a>
							</div>
						</div>
	        		</div>
	        		<div class="col-md-3 col-sm-6 make-xs-12">
						<div class="post" style="background-image: url(img/image-small.png);">
							<div class="post_info">
								<div class="post_title">Секреты эффективной работы</div>
								<div class="post_category">Делегирование задач</div>
								<div class="post_desc">Кто работает весь день, тому, по меткому замечанию Джона Рокфеллера, некогда зарабатывать деньги. То же и с успехом: ночуя в офисе, можно стать… обычным трудоголиком. Но ведь чтобы добиться успеха, надо многим пожертвовать. Или не надо?</div>
								<a href="#" class="post_more">Читать далее</a>
							</div>
						</div>
	        		</div>
	        		<div class="col-md-3 col-sm-6 make-xs-12">
						<div class="post" style="background-image: url(img/image-small.png);">
							<div class="post_info">
								<div class="post_title">Секреты эффективной работы</div>
								<div class="post_category">Делегирование задач</div>
								<div class="post_desc">Кто работает весь день, тому, по меткому замечанию Джона Рокфеллера, некогда зарабатывать деньги. То же и с успехом: ночуя в офисе, можно стать… обычным трудоголиком. Но ведь чтобы добиться успеха, надо многим пожертвовать. Или не надо?</div>
								<a href="#" class="post_more">Читать далее</a>
							</div>
						</div>
	        		</div>
	        	</div>
	        	<div class="pagination_box">
		    		<a href="#" class="btn btn_load"><span>Загрузить еще</span></a>
		    	</div> 
	        </div> 
	    </section>
	    <footer class="footer">
	        <div class="container">
	        	<div class="row clearfix">
			        <div class="col-md-9 col-md-push-3 col-sm-12">
			        	<div class="row clearfix">
							<div class="col-shift col-md-3 col-sm-3 col-xs-6 make-xs-12">
								<div class="footer_title">Creon</div>
					            <ul class="footer_menu">
					                <li class="first"><a href="#">Сайт агентства</a></li>
					                <li><a href="#">Видео BTL</a></li>
					                <li class="last"><a href="#">Производство</a></li>
					            </ul>
					        </div>
					        <div class="col-md-3 col-sm-3 col-xs-6 make-xs-12">
								<div class="footer_title">Персонал</div>
					            <ul class="footer_menu">
					                <li class="first"><a href="#">Промоутеры</a></li>
					                <li><a href="#">Персонал на выставку</a></li>
					                <li class="last"><a href="#">Промо модели</a></li>
					            </ul>
					        </div>
					        <div class="col-md-3 col-sm-3 col-xs-6 make-xs-12">
								<div class="footer_title">Услуги</div>
					            <ul class="footer_menu">
					                <li class="first"><a href="#">BTL акции</a></li>
					                <li><a href="#">Стимулирование продаж</a></li>
					                <li class="last"><a href="#">Проведение дегустаций</a></li>
					            </ul>
					        </div>
					        <div class="col-shift col-md-3 col-sm-3 col-xs-6 make-xs-12">
								<div class="footer_title">Информация</div>
					            <ul class="footer_menu">
					                <li class="first"><a href="#">О нас</a></li>
					                <li><a href="#">Портфолио работ</a></li>
					                <li class="last"><a href="#">Контакты</a></li>
					            </ul>
					        </div>
					    </div>
			        </div>
			        <div class="col-md-3 col-md-pull-9 col-sm-12">
	        			<div class="footer_title">Creon в соц. сетях:</div>
	        			<div class="social_icons">
							<a href="#" class="soc_icon"></a>
							<a href="#" class="soc_icon"></a>
							<a href="#" class="soc_icon"></a>
							<a href="#" class="soc_icon"></a>
	        			</div>
			            <div class="copyright">© 2010 — 2017</br> Рекламное агентство «Креон»</div>
			        </div>
			    </div>
	        </div>
	    </footer>
    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="js/frontend.js"></script>
</body>
</html>