<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Блог</title>
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="stylesheet" href="css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="css/slick.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-grid.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
	<div class="wrapper">
	    <header class="header">
	        <div class="container">
	        	<div class="row clearfix">
	        		<div class="col-md-3 col-sm-6 col-xs-6 make-xs-6">
	        			<div class="header_left">
				            <a href="/" title="" class="header_logo">
				                <img src="img/logo.png" alt="">
				            </a>
			            	<div class="logo_info">Блог о BTL</div>
		            	</div>
		            </div>
					<div class="top_menu col-md-6">
						<ul class="menu">
				            <li class="first"><a href="#">Библиотека</a></li>
				            <li><a href="#">BTL</a></li>
				            <li><a href="#">Промо персонал</a></li>
				            <li class="last"><a href="#">Делимся опытом</a></li>
				        </ul>
				    </div>
			        <div class="col-md-3 col-sm-6 col-xs-6 make-xs-6">
			        	<div class="header_right">
				        	<div class="search"><input type="search" name="q" placeholder="Поиск"><input type="submit" value="Найти"></div>
			            	<a href="#" class="btn btn_top"><span>Подписаться</span></a>
			            	<input type="checkbox" id="btn_open" class="menu_ticker">
			                <label class="btn_menu" for="btn_open">
			                    <span class="first"></span>
			                    <span class="second"></span>
			                    <span class="third"></span>
			                </label>
		            	</div>
		            </div>
	            </div>
	        </div>
	    </header>
		<section class="top_wrap" style="background-image: url(img/page-bg.png)">
	        <div class="container">
	        	<div class="top_info">
					<h1>5 правил успешного запуска акции</h1>
					<div class="top_desc">Экономия времени и сил</div>
				</div>
	        </div> 
	    </section>
	    <section class="page_wrap">
	        <div class="container">
	        	<div class="row clearfix">
	        		<div class="col-md-8">
	        			<div class="page_content">
							<p>Само слово «дауншифтинг» предполагает снижение требований, доходов, ожиданий и качества жизни. Однако мой личный опыт говорит о другом.</p>
							<p>Отказ от утомительного карабканья по карьерной лестнице и выживания в мегаполисе приводит к значительному улучшению качества жизни. Конечно, при условии, что ты все-таки продолжаешь работать.</p>
							<p>Эта статья будет полезна всем тем, кто собирается дожить до того момента, когда пора задумываться о выборе между бесконечной гонкой за успехом и спокойной жизнью за пределами суетливых мегаполисов.</p>
							<h2>Подзаголовок статьи</h2>
							<p>После 40 лет в России карьера журналиста выглядит довольно расплывчато. Собственно, расплывчато она выглядит всегда.</p>
							<blockquote>Сначала ты корреспондент, потом редактор отдела или специалист, занимающийся особыми темами в зависимости от специфики издания. Потом заместитель главного редактора. Потом тебя зовут руководить своим СМИ. И это, по сути, верх журналистской карьеры. Дальше-либо в другой бизнес, либо в издатели тех же самых СМИ.</blockquote>
							<img src="img/page-image.png" alt="" style="margin-top: 34px;">
							<span>Так можно картиночку подписать</span>
							<p>Ежегодно появляется все больше бесплатных высокотехнологичных инструментов.  Задействуйте их для решения своих задач и контроля промо-акции:</p>
							<ul>
								<li>воспользуйтесь видео-трансляцией с промо-точки, чтобы проследить за ходом акции в режиме онлайн, без необходимости приезжать на площадку проекта;</li>
								<li>отслеживайте местонахождение промо-персонала по геолокации, которую можно запросить в любой момент;</li>
								<li>автоматизируйте сбор информационных данных с помощью электронной формы: она позволяет моментально получать контакты респондента и данные о продажах;</li>
							</ul>
							<ol>
								<li>воспользуйтесь видео-трансляцией с промо-точки, чтобы проследить за ходом акции в режиме онлайн, без необходимости приезжать на площадку проекта;</li>
								<li>отслеживайте местонахождение промо-персонала по геолокации, которую можно запросить в любой момент;</li>
								<li>автоматизируйте сбор информационных данных с помощью электронной формы: она позволяет моментально получать контакты респондента и данные о продажах;</li>
							</ol>
							<p>Задействовав все эти инструменты во время проведения промо-акции, Вы сможете сократить расходы и сэкономить уйму собственного времени</p>
							<div class="page_bottom">
								<div class="row clearfix">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="social_title">Поделиться с друзьями</div>
										<div class="social_icons">
											<a href="#" class="soc_icon"></a>
											<a href="#" class="soc_icon"></a>
											<a href="#" class="soc_icon"></a>
											<a href="#" class="soc_icon"></a>
					        			</div>
					        		</div>
				        			<div class="col-md-6 col-sm-6 col-xs-12">
					        			<div class="tags">
											<a href="#" class="tags_item">BTL</a>
											<a href="#" class="tags_item">промо</a>
											<a href="#" class="tags_item">маркетинг</a>
											<a href="#" class="tags_item">акции</a>
											<a href="#" class="tags_item">промоутеры</a>
					        			</div>
				        			</div>
			        			</div>
							</div>
	        			</div>
	        		</div>
	        		<div class="col-md-4">
	        			<div class="page_sidebar">
	        				<div class="sidebar_title">Популярные статьи</div>
	        				<div class="posts_items">
								<div class="row clearfix">
									<div class="col-md-12">
										<div class="post" style="background-image: url(img/image-small-two.png);">
											<div class="post_info">
												<div class="post_title">Секреты эффективной работы</div>
												<div class="post_category">Делегирование задач</div>
												<div class="post_desc">Кто работает весь день, тому, по меткому замечанию Джона Рокфеллера, некогда зарабатывать деньги. То же и с успехом: ночуя в офисе, можно стать… обычным трудоголиком. Но ведь чтобы добиться успеха, надо многим пожертвовать. Или не надо?</div>
												<a href="#" class="post_more">Читать далее</a>
											</div>
										</div>
					        		</div>
					        		<div class="col-md-12">
										<div class="post" style="background-image: url(img/image-small-three.png);">
											<div class="post_info">
												<div class="post_title">Секреты эффективной работы</div>
												<div class="post_category">Делегирование задач</div>
												<div class="post_desc">Кто работает весь день, тому, по меткому замечанию Джона Рокфеллера, некогда зарабатывать деньги. То же и с успехом: ночуя в офисе, можно стать… обычным трудоголиком. Но ведь чтобы добиться успеха, надо многим пожертвовать. Или не надо?</div>
												<a href="#" class="post_more">Читать далее</a>
											</div>
										</div>
					        		</div>
					        		<div class="col-md-12">
										<div class="post" style="background-image: url(img/image-small.png);">
											<div class="post_info">
												<div class="post_title">Секреты эффективной работы</div>
												<div class="post_category">Делегирование задач</div>
												<div class="post_desc">Кто работает весь день, тому, по меткому замечанию Джона Рокфеллера, некогда зарабатывать деньги. То же и с успехом: ночуя в офисе, можно стать… обычным трудоголиком. Но ведь чтобы добиться успеха, надо многим пожертвовать. Или не надо?</div>
												<a href="#" class="post_more">Читать далее</a>
											</div>
										</div>
					        		</div>
				        		</div>
	        				</div>
	        			</div>
	        		</div>
	        	</div>
	        </div> 
	    </section>
	    <footer class="footer">
	        <div class="container">
	        	<div class="row clearfix">
			        <div class="col-md-9 col-md-push-3 col-sm-12">
			        	<div class="row clearfix">
							<div class="col-shift col-md-3 col-sm-3 col-xs-6 make-xs-12">
								<div class="footer_title">Creon</div>
					            <ul class="footer_menu">
					                <li class="first"><a href="#">Сайт агентства</a></li>
					                <li><a href="#">Видео BTL</a></li>
					                <li class="last"><a href="#">Производство</a></li>
					            </ul>
					        </div>
					        <div class="col-md-3 col-sm-3 col-xs-6 make-xs-12">
								<div class="footer_title">Персонал</div>
					            <ul class="footer_menu">
					                <li class="first"><a href="#">Промоутеры</a></li>
					                <li><a href="#">Персонал на выставку</a></li>
					                <li class="last"><a href="#">Промо модели</a></li>
					            </ul>
					        </div>
					        <div class="col-md-3 col-sm-3 col-xs-6 make-xs-12">
								<div class="footer_title">Услуги</div>
					            <ul class="footer_menu">
					                <li class="first"><a href="#">BTL акции</a></li>
					                <li><a href="#">Стимулирование продаж</a></li>
					                <li class="last"><a href="#">Проведение дегустаций</a></li>
					            </ul>
					        </div>
					        <div class="col-shift col-md-3 col-sm-3 col-xs-6 make-xs-12">
								<div class="footer_title">Информация</div>
					            <ul class="footer_menu">
					                <li class="first"><a href="#">О нас</a></li>
					                <li><a href="#">Портфолио работ</a></li>
					                <li class="last"><a href="#">Контакты</a></li>
					            </ul>
					        </div>
					    </div>
			        </div>
			        <div class="col-md-3 col-md-pull-9 col-sm-12">
	        			<div class="footer_title">Creon в соц. сетях:</div>
	        			<div class="social_icons">
							<a href="#" class="soc_icon"></a>
							<a href="#" class="soc_icon"></a>
							<a href="#" class="soc_icon"></a>
							<a href="#" class="soc_icon"></a>
	        			</div>
			            <div class="copyright">© 2010 — 2017</br> Рекламное агентство «Креон»</div>
			        </div>
			    </div>
	        </div>
	    </footer>
    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="js/frontend.js"></script>
</body>
</html>